.timelineBody{
    overflow-y: scroll;
}

.profileBody{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0%;
    
    .segment{
        width: 50%;
        margin-left: 25%;
        align-self: center;
    }

    p,h2,h5{
        align-self: center;
        margin-top: -10;
    }

    .followButton{
        width:300px;
        align-self: center;
    }

    .editProfile{
        align-self: center;
        justify-self: center;
        margin-left: 35%;
        margin-top: 2%;
        width: 70%
    }

}
