.segment{
    margin: 25px;
    width:45vw;    
    height: max-content;

    .text{
        padding: 2%;
        margin-left: 25px;
        
    } 

    .postImage{
        width:90%;
        margin-left:5%;
        margin-top: 12px;
    }

    .feedInfo{
        display:flex;
        
        *{
            margin: 2px;
        }
    }

    .description{
        margin-top: 10px;
        font-size: 18px;
        white-space: pre-wrap;
    }

    .like{
        margin:5px;
        margin-left: 40px;
    }

    
}
