@import './colors.scss';

  
      
    ::-webkit-scrollbar {
           -webkit-appearance: none;
        height: 10px;
        width: 5px;
    }



.leftbar{
    flex:2;
    height:94.4vh;
    overflow-y:scroll;
    justify-content: space-around;
  
    h2{
        margin:15px;
        padding: 10px;
        color: $darkGreen;
    }

    .leftbarItems{
        display: flex;
        flex-direction: column;
        margin-left:80px;
        
        
        
        .follower{
            margin:5px;

            .label{ 
                .detail{
                    width:55%;
                    float: right;
                }

                span{
                    width:45%;
                }
            }
        }

    }

}
