@import '../styles/colors.scss';

.rightbar{
    flex:2;
    height:94.4vh;
    overflow-y:scroll;
    justify-content: space-around;
  
    h2{
        margin:15px;
        padding: 10px;
        color: $darkGreen;
    }

}